
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(184, 159, 80);
    padding: 10px;
    height: 50px;
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 30px 5px;
}
header img{
    height: 50px;
}
nav a{
    font-family:'Times New Roman', Times, serif;
    border-radius: 20px 0px 20px 0px;
    padding: 10px 25px;
    color:rgb(63, 42, 5);
    text-decoration: none;
    transition: 1s;
    font-size: 22px;
}
.banner{
    color: rgb(216, 200, 119);
    font-size: 25px;
}
nav a:hover{
    color: rgb(249, 247, 244);
    transition: 0.2s;
    background-color:rgb(110, 85, 35);
    border-radius: 20px 0px 20px 0px;
    box-shadow: 5px 5px 5px -2px rgb(133, 113, 34);
    padding: 7px 20px;
    transition: 0.5s;
}
html{
    scroll-behavior: smooth;
}
section.home{
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:  fixed;
    background-image: url("banner1.png");
    color: rgb(245, 232, 194);
}
section.project{
    height: 950px;
    justify-content: center;
    display: flex;
    background-color: rgb(238, 224, 179);
    box-shadow: 0px 0px 30px 15px rgb(24, 21, 3);
    border-radius: 50px 50px 50px 50px;
}
section.project img{
    height: 400px;
    box-shadow: 10px 10px 20px rgb(99, 61, 14);
    border-radius: 10px;
}
.deskProject{
    width: 50%;
    margin: auto;
    padding: 5px 20px;
    text-align: center;
    color: rgb(81, 67, 26);
    font-size: 20px;
}
.project p{
    text-align: justify;
}
section.howto{
    padding: 70px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(200, 182, 124);
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 0px 25px 10px rgb(72, 46, 11);
    display: flex;
    justify-content: center;
}
.howto img{
    height:500px;
    border-radius: 0px 30px 0px 30px;
    box-shadow: 10px 10px 20px;
}
.deskhowto{
    display:flex;
    width: 60%;
    margin: auto;
    font-size: 70px;
}
.dokumentasi{
    margin:20px;
}
.kotakBiotek{
    width: 40%;
    margin-left: 50px;
    padding-top: 100px;
}
.namaBiotek{
    font-size: 70px;
    text-shadow: 2px 2px 5px #3a270a;
}
.deskBiotek{
    color:rgb(255, 255, 255);
    font-size: 20px;
    text-shadow: 2px 2px 5px #3a270a;
}
section.profile{
    height: 700px;
    text-align: center;
    background-color: rgb(178, 144, 74);
    border-radius: 50px 50px 0px 0px;
    box-shadow: 0px 0px 30px 15px rgb(24, 21, 3);
    padding-top: 100px;
}
.cardProfile{
    background-color:rgb(255, 242, 208);
    padding: 15px;
    width:250px;
    margin:auto;
    text-align:center;
}
.imgProfile img{
    width:100%;
}
.medsos{
    left:0;
    bottom:0;
    width:100%;
    text-align:center;
    height:40px;
    padding-top:5px;
}
.medsos a{
    text-decoration:none;
    padding: 10px 10px;
    font-size:24px;
}